@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.aboutContainer {
  height: 85vh;
  padding: 0 20px;

  h1 {
    @include fonts.h1;
  }
}

.dudeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .dudeWrapper {
    position: relative;
    .dudeTop {
      display: none;
    }
  }

  .dudeWrapper:hover .dudeTop {
    display: inline;
  }

  .dudeWrapper:hover .dudeBottom {
    display: none;
  }

  img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
  }

  @include media.onSm {
    margin-top: 10px;
  }
}
