@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.aboutContainer {
  height: 75vh;
  padding: 0 20px;

  h1 {
    @include fonts.h1;
  }
}

.linkText {
  @include fonts.moreLinks;
}

.dudeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
  }
}

.moreAboutRow {
  margin-top: 20px;
}
