@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.contactContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 0;

  background-color: colors.$black;

  h2 {
    @include fonts.h2;
    color: colors.$white;
  }

  .emailLinkWrapper {
    margin-top: 1rem;

    a {
      text-decoration: none;
    }

    hr {
      margin: 0.25rem 0 0 0;
      border-top: 1px solid colors.$white;
    }
  }

  .socialLinkWrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;

    .linkWrapper {
      display: inline-block;
      border: 1px solid colors.$white;
      border-radius: 99px;
      padding: 1px 12px;
      margin: 0 10px;

      a {
        @include fonts.borderLinks;
        color: colors.$white;
      }
    }
  }
}
