@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.navBar {
  width: 100vw;
  height: 69px;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  pointer-events: none;

  @include media.onMd {
    padding: 20px 20px;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  .rWrapper {
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;

    cursor: pointer;
    pointer-events: auto;
  }

  span {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    font-weight: 700;
    font-size: 24px;
    color: colors.$charcoal;
  }

  .navLinkWrapper {
    display: inline-block;
    margin: 0 -5px;

    .linkWrapper {
      display: inline-block;
      border: 1px solid colors.$charcoal;
      border-radius: 99px;
      padding: 1px 10px;
      margin: 0 5px;

      a {
        @include fonts.borderLinks;
        color: colors.$charcoal;

        pointer-events: auto;
      }

      @include media.onMd {
        padding: 1px 7px 2px 7px;
        margin: 0 3px;
      }
    }

  }

  // background-color: rgba(255, 0, 0, 0.2);
}
