@use 'styles/media';

@font-face {
  font-family: 'SangBleu OG Sans';
  // src: url('/fonts/SangBleuOGSans-Regular.otf') format('opentype');
  src: url('/fonts/SangBleuOGSans-Regular-WebXL.woff2') format('woff2'),
       url('/fonts/SangBleuOGSans-Regular-WebXL.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.SangBleuOGSans-Regular {
  font-family: 'SangBleu OG Sans';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'SangBleu OG Sans';
  // src: url('/fonts/SangBleuOGSans-Light.otf') format('opentype');
  src: url('/fonts/SangBleuOGSans-Light-WebXL.woff2') format('woff2'),
       url('/fonts/SangBleuOGSans-Light-WebXL.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.SangBleuOGSans-Light {
  font-family: 'SangBleu OG Sans';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


$ProximaNova: 'proxima-nova', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$SangBleu: 'SangBleu OG Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


@mixin subtitle {
  font-family: $SangBleu;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;

  @include media.onLg {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}

@mixin p {
  font-family: $ProximaNova;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-rendering: geometricPrecision;
}

@mixin tags {
  font-family: $ProximaNova;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}

@mixin h1 {
  font-family: $SangBleu;
  font-weight: 300;
  // font-size: 64px;
  font-size: 4vw;
  line-height: 1.42;
  margin: 0;

  @include media.onXl {
    font-size: 4.5vw;
  }
  @include media.onLg {
    font-size: 48px;
  }
  @include media.onMd {
    font-size: 36px;
  }
  @include media.onSm {
    font-size: 34px;
  }
  @include media.onXs {
    font-size: 28px;
  }
}

@mixin h2 {
  font-family: $SangBleu;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.42;
  margin: 0;

  @include media.onXl {
    font-size: 43px;
  }
  @include media.onLg {
    font-size: 40px;
  }
}

@mixin contactH2 {
  font-family: $SangBleu;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.42;
  margin: 0;

  @include media.onXl {
    font-size: 43px;
  }
  @include media.onLg {
    font-size: 40px;
  }
  @include media.onMd {
    font-size: 36px;
  }
  @include media.onSm {
    font-size: 30px;
  }
  @include media.onXs {
    font-size: 24px;
  }
}


@mixin h3 {
  font-family: $SangBleu;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.42;
  margin: 0;

  @include media.onXl {
    font-size: 34px;
  }
  @include media.onLg {
    font-size: 32px;
  }
}

@mixin homeDescP {
  font-family: $SangBleu;
  font-weight: 300;
  font-size: 16px;
  margin: 0;

  @include media.onLg {
    font-size: 14px;
  }
}

@mixin borderLinks {
  font-family: $SangBleu;
  font-weight: 400;
  font-size: 16px;

  @include media.onMd {
    font-size: 14px;
  }
}

@mixin workLeftP {
  font-family: $SangBleu;
  font-weight: 400;
  font-size: 18px;
  word-wrap: break-word;
  hyphens: auto;
}

@mixin backHomeP {
  font-family: $SangBleu;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1.2px;
}
