@use 'styles/media';

$ProximaNova: 'Proxima Nova', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@mixin subtitle {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}

@mixin p {
  font-family: $ProximaNova;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-rendering: geometricPrecision;
}

@mixin tags {
  font-family: $ProximaNova;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}

@mixin h1 {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 200;
  // font-size: 64px;
  font-size: 4vw;
  line-height: 1.42;
  margin: 0;
}

@mixin h2 {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 200;
  font-size: 48px;
  margin: 0;
}

@mixin homeDescP {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

@mixin moreLinks {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 200;
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
}

@mixin borderLinks {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 400;
  font-size: 16px;
}

@mixin workLeftP {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 400;
  font-size: 18px;
}

@mixin backHomeP {
  font-family: "SangBleu OG Sans Trial", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1.2px;
}
