@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.workContainer {
  padding: 0 20px;
  width: 100%;
}

.customizeHr {
  margin: 0 0 10px 0;

  border-top: 1px solid rgba(0,0,0,.1);
}

.title {
  @include fonts.subtitle;
  color: colors.$grey;
}
