@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.workDetailContainer {
  width: 100vw;
  min-height: 100vh;
  padding: 0 20px;

  background-color: colors.$white;
}

// ************************
// HERO
// ************************
.heroContainer {
  width: 100vw;
  height: calc(85vh + 69px);
  margin: 0 -20px;
  padding: 0 0 0 20px;
  position: relative;
  overflow: hidden;

  @include media.onLg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .heightRow {
    height: 100%;
    position: relative;

    .titleContainer {
      @include media.onLg {
        padding-top: calc(69px + 10px);
        padding-bottom: 10px;
      }
    }

    .mediaContainer {
      @include media.onLg {
        height: 75vh;
      }
    }
  }

  div [class*="col"] {
    max-height: 100%;
  }

  h1 {
    @include fonts.h1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumbnailVid {
    video {
      object-fit: contain;
    }
  }
}

// ************************
// OVERVIEW
// ************************
.subtitleWrapper {
  margin-bottom: 50px;

  .customizeHr {
    margin: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .subtitle {
    @include fonts.subtitle;
    color: colors.$grey;
  }
}

.overviewContainer {
  margin-bottom: 100px;

  h2 {
    @include fonts.h2;
    margin-bottom: 40px;
  }

  p {
    @include fonts.p;
    white-space: pre-line;
  }

  .leftContentWrapper.firstRow {
    margin-top: 0;

    @include media.onLg {
      padding-top: 50px;
    }
  }

  .leftContentWrapper {
    margin-top: 50px;

    @include media.onLg {
      margin-top: 30px;
      justify-content: center;
    }

    .leftContentL {
      @include fonts.workLeftP;
      color: colors.$grey;
      text-align: right;
      padding-top: 1px;

      @include media.onLg {
        text-align: left;
      }
    }

    .leftContentR {
      @include fonts.p;
      white-space: pre-line;

      a {
        text-decoration: none;

        border-bottom: 2px solid #0000FF;
        background-color: rgba(0, 0, 255, 0);
        transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      a:hover {
        color: #FFF;
        background-color: rgba(0, 0, 255, 1);
      }
    }
  }
}

// ************************
// CONTENT
// ************************
.contentContainer {
  .customizedMediaRow {
    @include media.onLg {
      margin-bottom: -10px;
    }
  }
  .customizedMediaCol {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .outline {
      border: 1px solid rgba(0,0,0,.1);
    }

    @include media.onLg {
      margin-bottom: 10px;
    }
  }

  .textVerticalStackedWrapper {
    margin-bottom: 100px;

    h3 {
      @include fonts.h3;
    }

    p {
      margin: 30px 0 0 0;
      @include fonts.p;
      white-space: pre-line;
    }
  }

  .textHorizontalStackedWrapper {
    h3 {
      margin: 0 0 30px 0 !important;
      @include fonts.h3;
    }

    p {
      margin: 0 0 30px 0;
      @include fonts.p;
      white-space: pre-line;
    }
  }

  .videoTextContainer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    h3 {
      @include fonts.h3;
    }

    p {
      margin: 30px 0 0 0;
      @include fonts.p;
      white-space: pre-line;
    }

    @include media.onLg {
      position: inherit;
      top: auto;
      transform: none;
    }
  }
}


// ************************
// REQUEST
// ************************
.requestCaseContainer {
  padding-top: 100px;
  text-align: center;
  @include fonts.h2;

  a {
    text-decoration: none;

    border-bottom: 2px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 255, 1);
  }
}

// ************************
// BACK
// ************************
.backWithDudeContainer {
  padding: 100px 0;
  text-align: center;
  @include fonts.backHomeP;

  .shortHr {
    width: 30px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(0,0,0,1);
  }

  .dudeLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    img {
      width: 160px;
      height: 160px;

      margin-bottom: 20px;
    }
  }
}
