@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/media';

.workDetailContainer {
  width: 100vw;
  min-height: 100vh;
  padding: 0 20px;

  background-color: colors.$white;
}

// ************************
// HERO
// ************************
.heroContainer {
  width: 100vw;
  height: calc(85vh + 69px);
  margin: 0 -20px;
  padding: 0 0 0 20px;
  position: relative;

  .heightRow {
    height: 100%;
    position: relative;
  }

  div [class*="col"] {
    max-height: 100%;
  }

  h1 {
    @include fonts.h1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// ************************
// OVERVIEW
// ************************
.subtitleWrapper {
  margin-bottom: 50px;

  .customizeHr {
    margin: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .subtitle {
    @include fonts.subtitle;
    color: colors.$grey;
  }
}

.overviewContainer {
  h2 {
    @include fonts.h2;
    margin-bottom: 40px;
  }

  p {
    @include fonts.p;
    white-space: pre-line;
  }

  .leftContentWrapper {
    margin-bottom: 50px;

    .leftContentL {
      @include fonts.workLeftP;
      color: colors.$grey;
      text-align: right;
      padding-top: 1px;
    }

    .leftContentR {
      @include fonts.p;
      white-space: pre-line;

      a {
        text-decoration: none;

        border-bottom: 2px solid #0000FF;
        background-color: rgba(0, 0, 255, 0);
        transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      a:hover {
        color: #FFF;
        background-color: rgba(0, 0, 255, 1);
      }
    }
  }
}

// ************************
// CONTENT
// ************************
.contentContainer {
  .customizedMediaCol {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .videoWrapper {
      position: relative;
      padding: 49.86% 0 0 0;
      margin: 2vh 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .vidMobile {
      padding: 100% 0 !important;
    }

    .outline {
      border: 1px solid rgba(0,0,0,.1);
    }
  }
}


// ************************
// REQUEST
// ************************
.requestCaseContainer {
  padding-top: 100px;
  text-align: center;
  @include fonts.h2;

  a {
    text-decoration: none;

    border-bottom: 2px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 255, 1);
  }
}

// ************************
// BACK
// ************************
.backWithDudeContainer {
  padding: 100px 0;
  text-align: center;
  @include fonts.backHomeP;

  .shortHr {
    width: 30px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(0,0,0,1);
  }

}
